@media only screen and (max-width: 400px) {

  body {
    background-color: ghostwhite;
    position: relative;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mintcream;
    height: auto;
    width: 100%;
  }
  #break {
    height: 1.5em;
    border: 1px solid darkgreen;
  }
  .logo img {
    height: 2.5em;
    width: 5em;
    border-radius: 1em;
    margin: 0.2em 1em 0em 1em;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
  }
  .heading {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .heading button {
    display:none;
  }
  .Search {
    border: 0.14em solid gray;
    height: auto;
    width: auto;
    padding: 0em 0.5em 0em 0.6em;
    border-radius: 1em;
  }
  .Search > input {
    width: 6em;
    border: none;
    font-family: lora;
    background-color: ghostwhite;
    font-size: medium;
  }
  .Search > input:focus {
    outline: none;
    border: none;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
  }
  .right button {
    border: none;
    font-family: "lora";
    font-size: small;
    background-color: #04aa6d;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    cursor: pointer;
  }
  .rBtn {
    background-color: mintcream;
  }
    /* Control Panel  */

/* Styles for Open Button */
      .open-btn {
        position: absolute;
        top:5em;
        right: 1em;
        z-index: 100;
        padding: 5px 10px;
        background-color: #04aa6d;
        color: white;
        border: 1px solid white;
        border-radius: 2em;
        cursor: pointer;
        margin: 2px;
}
      /* Styles for Control Panel */
      .ControlPanel {
        z-index: 100;
        text-align: center;
        height: auto;
        width: auto;
        background-color: white;
        padding: 0.85em;
        float: right;
        position: sticky;
        top: 5em;
        right: 0.5em;
        border-radius: 2em;
        font-size: small;
        display: none;
      }
      #profile {
        height: 2em;
        width: 2em;
        border: 0.01em solid black;
        border-radius: 50%;
      }
      .ControlPanel.active {
        display: block;
      }
      .menu {
        border: 0.01em solid gray;
        margin: 0.2em;
        padding: 0.2em;
        background-color: #04aa6d;
        border-radius: 1em;
      }
      .menu > button {
        font-size: x-small;
        background-color: #04aa6d;
        color: white;
      }
      .menu > i{
        display: none;
      }
      .menu:active {
        border: 2px solid white;
      }
        /* Main Starts from here */
  .first {
    z-index: -1;
    width: auto;
    height: auto;
    background-color: #04aa6d;
    padding-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 2em;
    text-align: center;
  }
  .first img {
    width: 90%;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: "Lora"; */
  }
  .text > h1 {
    font-size: large;
    color: white;
    cursor: none;
  }
  .text > p {
    cursor: none;
    color: white;
    font-size: small;
    margin: 1em;
    min-width: 50vw;
    max-width: 70vw;
  }
  .text > button {
    font-size: medium;
    padding: 0.2em 0.5em;
    border: none;
    border-radius: 1em;
  }
  .second {
    width: 100%;
    text-align:center;
  }

  .secondTop {
    text-align: center;
    height: auto;
    width: 100%;
    color: green;
    text-align: center;
  }
  .secondTop > h1 {
    font-size: 2em;
    padding: 1em 0 0.1em 0;
  }

  .secondTop > h3 {
    font-size: x-small;
    padding: 0.1em 0 2em 0;
  }
  .secondTop a {
    color: white;
    text-decoration: none;
    background-color: #acc6bc;
    padding: 0.4em;
    margin: 0.4em;
    border-radius: 0.5em;
    font-size: xx-small;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 3em 0;
    grid-gap: 2em;
  }

  .box {
    height: auto;
    width: auto;
  }
  .box > img {
    border-radius: 1em;
    width: 20em;
    object-fit: cover;
  }
  .box > img:hover {
    box-shadow: 5px 5px 10px #abf1d5;
  }
  .secondEnd {
    height: 4em;
    width: auto;
    text-align: center;
  }
  #SecBtn {
    border: none;
    font-size: 1em;
    padding: 0.4em 0.5em;
    color: white;
    background-color: #16bb7c;
    border-radius: 0.5em;
  }
  /* Typing effect styles */
#typing-heading {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: small;
  width: 0;
  animation: typing 5s steps(30, end) infinite forwards;
  -webkit-animation: typing 5s steps(30, end) infinite forwards;
}
/* Animation for typing */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; /* Expands to show the full content */
  }
}
 /* third Section starts from here. */
  /* Base Styles */
  .third {
    margin: 2em auto;
    max-width: 100%;
    color: #04aa6d;
    text-align: center;
  }

  .thirdContent {
    background-color: transparent;
    padding: 1em;
  }
  .thirdContent > h1 {
    font-size: 1.5em;
    color: #04aa6d;
    margin-bottom: 0.5em;
  }
  .third img {
    width: 100%;
    max-width: 80%;
    height: auto;
    margin-top: 1em;
    border-radius: 10px;
  }


  /* Footer starts from here.. */
  #goto {
    background-color: white;
    font-size: xx-small;
    border: none;
    border-radius: 0.4em;
    padding: 0.4em 1em;
    margin: 1em 0em 0em 0em;
  }
  #goto:active {
    background-color: gray;
  }
  .last {
    background-color: #0a2c1f;
    height:max-content;
    width: auto;
    color: white;
    margin-bottom: 0.1em;
    text-align: center;
  }
  .last > p {
    border-top: 2px solid gray;
    padding: 0.41em 0em;
  }
  .footInfo {
    text-align: left;
    width: auto;
    border-top-left-radius: 1.4em;
    border-top-right-radius: 1.4em;
    /* padding: 4em 1em 2em 4em; */
    background-color: #0a2c1f;
  }
  .fBox {
    margin: 0.2em;
    text-align: center;
    height: auto;
    width: 100%;
    list-style: none;
  }
  .fBox > h1 {
    font-size: large;
  }
  .space {
    display:none;
  }
  .icons {
    width: 100%;
    height: auto;
  }
  .icons i {
    margin: 1em 0.5em;
  }
  .sBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    width: 100%;
  }
  .span{
    width: 80%;
    text-align: center;
    height: 4em;
  }
  .sBox > h2 {
    margin-bottom: 0.4em;
  }
  .sBox > input {
    padding: 0.4em 2em 0.4em 1em;
    border-radius: 1em;
    background-color: transparent;
    border: 1px solid white;
    margin-bottom: 0.41em;
  }
  .sBox > button {
    padding: 0.5em;
    color: white;
    border-radius: 1em;
    background-color: transparent;
    border: 1px solid white;
  }
  .line{
    margin-top: 1em;
  }
  .sBox > button:active {
    border: 1.5px solid lightgray;
    color: gray;
  }
  #Email:focus{
    background-color: gainsboro;
  }
}




