* {
  margin: 0px;
}

body {
  background-color: ghostwhite;
}

@media only screen and (min-width: 750px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
    height: auto;
    width: 100vw;
}
  #break {
    height: 1.5rem;
    border: 1px solid darkgreen;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75vw;
  }
  .logo img {
    height: 50px;
    width: 5vw;
    border-radius: 1em;
    margin: 0.5em 5em 0em 2em;

  }
  .heading {
    width: 55vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .heading button {
    border: none;
    background-color: ghostwhite;
    font-family: "lora";
    font-size: medium;
    padding: 0.3em 0.5em;
    border-radius: 1em;
    font-weight: 500;
  }
  .heading button:hover {
    background-color: #04aa6d;
    color: white;
    cursor: pointer;
  }
  .Search {
    border: 0.14em solid gray;
    height: auto;
    max-width: auto;
    padding: 0em 0.5em 0em 0.6em;
    border-radius: 1em;
  }
  .Search > input {
    border: none;
    font-family: lora;
    background-color: ghostwhite;
    font-size: medium;
  }
  .Search > input:focus {
    outline: none;
    border: none;
  }
  #effect:hover {
    background-color: rgb(216, 215, 215);
    padding: 0.3em;
    border-radius: 50%;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25vw;
  }
  .right button {
    border: none;
    font-family: "lora";
    font-size: medium;
    background-color: #04aa6d;
    color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: 500;
    cursor: pointer;
  }

  /* Main Starts from here */
  main{
    width: 85vw;
  }
  .first {
    width: 98vw;
    height: auto;
    background-color: #04aa6d;
    padding-top: 2em;
    text-align: center;
    margin: 0em 0.5em;
    border-radius: 2em;
}
.first img{
  max-width: 85%;
}
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora";
  }
  .text > h1 {
    font-size: xxx-large;
    color: white;
    cursor: none;
  }
  .text > p {
    cursor: none;
    color: white;
    font-size: medium;
    margin: 1em;
    min-width: 50vw;
    max-width: 70vw;
  }
  .text > button {
    font-size: larger;
    margin: 0.5em;
    padding: 0.4em 1em;
    border: none;
    border-radius: 1em;
  }
  .text p:hover,
  .text h1:hover {
    text-shadow: 5px 5px 15px white;
  }
  .text button:hover {
    border: 2px solid white;
    cursor: pointer;
  }

        /* Second starts from here  */

  .secondTop{
    height: auto;
    width: 100vw;
    color: green;
    text-align: center;
  }
  .secondTop>h1{
    font-size: xxx-large;
    padding: 1em 0em 0.1em 0em;
  }
  .secondTop>h3{
    font-size: large;
    padding: 0.1em 0em 2em 0em;
  }
  .secondTop a{
    color: white;
    text-decoration: none;
    background-color: #acc6bc;
    padding: 0.5em;
    margin: 0.4em;
    border-radius: 0.5em;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr  1fr;
  justify-items: center;
  padding: 3em 0em;
  grid-gap: 2em;
}
.box{
    height: auto;
    width: auto;
}
.box>img{
  border-radius: 2em;
  height: 15em;
  width: 23em;
  object-fit:fill;
}
.box>img:hover{
  border-radius: 2em;
  box-shadow: 5px 5px 10px #abf1d5;
}
.secondEnd{
    height: 10vh;
    width: auto;
    text-align: center;
}
#SecBtn{
    border: none;
    font-size: medium;
    padding: 0.5em 1.5em;
    color: white;
    background-color: #16bb7c;
    border-radius: 0.5em;
}

/* third Section starts from here. */

.third{
  margin: 2em;
  height: 100vh;
  width: 100vw;
}
.thirdContent{
  background-color: transparent;
}
.thirdContent>h1{
  font-size:2.5em;
}

  /* Footer starts from here.. */
  .last {
    width: 100vw;
    height: auto;
  }
  .icons {
    width: 100vw;
    height: auto;
    /* padding: 1em 0em 1em 0em; */
    background-color: #04aa6d;
    border-bottom: 0.1em solid mintcream;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .icons i {
    margin: 1em 2em;
  }
  .icons i:hover{
    text-shadow: 10px 1px 10px white;
  }
  .info {
    width: 100vw;
    height: 80%;
    background-color: rgb(4, 4, 61);
    padding: 4em 0em;
    display: flex;
    justify-content: space-evenly;
}
#glow:hover{
  text-shadow: 1px 1px 10px white;
}
.Details {
    color: ghostwhite;
    width: 20vw;
  }
}
.Details>img{
  height: 5em;
  width: 6em;
  object-fit: contain;
  /* mix-blend-mode:screen; */
}

@media only screen and (max-width: 769px) {
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: ghostwhite;
    height: 2.5em;
    width: 100vw;
    position: fixed;
    top: 0px;
  }
  #break {
    display: none;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin: 0.4em 0.4em 0.2em 2em;
  }
  .logo img {
    height: 25px;
    width: 15vw;
    border-radius: 1em;
    margin: 0.5em 2em 0.5em 0.3em;
  }
  .heading>button{
    display: none;
  }
  .Search{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Search>input{
    border: 0.12em solid gray;
    height: 2em;
    max-width: 8em;
    padding: 0.5em;
    border-radius: 1em;
  }
  .Search>button{
    background-color: #04aa6d;
    border-radius: 1em;
    color: white;
    border: none;
    margin: 0.2em;
    padding: 0.2em;
  }
  .Search>input:active {
    border: none;
    outline: none;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    margin: 0.6em 0.4em 0.5em 2em;
  }
  .rightSecBtn {
    border: none;
    font-family: "lora";
    font-size: medium;
    background-color: #04aa6d;
    color: white;
    padding: 0.4em;
    border-radius: 1em;
    font-weight: 500;
    cursor: pointer;
  }
  /* first starts from here */
  .first {
    margin-top: 2.7em;
    max-width: 100vw;
    height: auto;
    background-color: #04aa6d;
    padding-top: 2em;
    text-align: center;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora";
  }
  .first img {
    max-width: 80vw;
  }
  .text > h1 {
    font-size: x-large;
    color: white;
    cursor: none;
  }
  .text > p {
    display: none;
  }
  .text > button {
    font-size: medium;
    margin: 2em;
    padding: 0.4em 1em;
    border: none;
    border-radius: 1em;
  }
  .text h1:hover {
    text-shadow: 5px 5px 15px white;
  }
  .text button:hover {
    border: 2px solid white;
    cursor: pointer;
  }

  /* Footer starts here */
  .last {
    width: 100vw;
    height: auto;
    margin: none;
  }
  .icons {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 0.2em -1em;
    border-bottom: 0.1em solid mintcream;
    padding-bottom: 0.5em;
  }
  .icons i {
    margin: 0.7em 0.9em 0em 0.9em;
    height: 0.2em;
    width: 0.2em;
  }
  .info {
    width: 100vw;
    height: 80%;
    background-color: black;
    padding: 1.5em 0em;
    display: flex;
    justify-content: space-evenly;
    border-left: 0.1em solid mintcream;
    border-radius: 1em solid white;
}
  .info h1 {
    font-size: medium;
  }
  .info h3 {
    font-size: xx-small;
  }
  .info p {
    font-size: xx-small;
  }
  .Details {
    color: ghostwhite;
    width: 20vw;
  }
}
.Details>img{
  height: 2.5em;
  width: 5em;
  /* object-fit: contain; */
  border-radius: 2em;
}
